{% macro alert(type, message) %}
    {% if message %}
        <div class="alert alert-{{ type }}">{{ message }}</div>
    {% else %}
        <div class="alert alert-{{ type }}">No message provided!</div>
    {% endif %}
{% endmacro %}
    
{% macro blockhead(label, title, span, text, modClass) %}
    <div class="{{modClass ? 'blockhead'~' '~modClass : 'blockhead'}}">
        {% if label %}
            <span class="blockhead__label">{{label}}</span>
        {% endif %}
        <h2 class="blockhead__title">{{title}}
            {% if span %}
                <span>{{span}}</span>
            {% endif %}
        </h2>
        {% if text %}
           <div class="blockhead__text">
               <p>{{text}}</p>
           </div>
        {% endif %}
        
    </div>
{% endmacro %}

{% macro skill(title, text, btn) %}
    <article class="skills__item item-skills">
        <h2 class="item-skills__title">{{title}}</h2>
        <p class="item-skills__text">{{text}}</p>
        <a href="#" class="btn btn--arrow-round">{{btn}}</a>
    </article>
{% endmacro %}
    
{% macro selwork(img, title) %}
    <article class="selwork">
        <a href="#" class="selwork__pict">
            <img class="selwork__img" src="/src/assets/img/selected/{{ img }}" alt="selwork">
        </a>
        <div class="selwork__body blur-border">
            <h2 class="selwork__title">{{title}}</h2>
            <a href="#" class="selwork__category">Webdesign</a>  
        </div>
    </article>
{% endmacro %}
    
{% macro card(label, subtitle, title, text, list, addedClass) %}
    <article class="{{ not addedClass ? 'card blur-border' : 'card blur-border '~ addedClass}}">
       {% if label %}
            <div class="card__label blur-border">{{label}}</div>
        {% endif %}

        {% if subtitle %}
            <div class="card__subtitle">{{subtitle}}</div>
        {% endif %}
        <h3 class="card__title">{{title}}</h3>

        {% if text %}
            <div class="card__text">{{text}}</div>
        {% endif %}

        {% if list %}
            <ul class="card__list">
                {% for item in list %}
                    <li class="card__list-item">{{item}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </article>
{% endmacro %}
    
